<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chrslee.csgopedia.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.chrslee.csgopedia.app.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chrslee.csgopedia.app.Rifles"
            android:label="@string/title_activity_rifles"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.chrslee.csgopedia.app.SMGs"
            android:label="@string/title_activity_smgs"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.chrslee.csgopedia.app.Heavy"
            android:label="@string/title_activity_heavy"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.chrslee.csgopedia.app.Pistols"
            android:label="@string/title_activity_pistols"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.chrslee.csgopedia.app.Knives"
            android:label="@string/title_activity_knives"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.chrslee.csgopedia.app.Maps"
            android:label="@string/title_activity_maps"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.chrslee.csgopedia.app.Cases"
            android:label="@string/title_activity_cases"
            android:theme="@style/Theme.AppCompat">
        </activity>
    </application>

</manifest>
